## This data is taken from "https://github.com/parithoshpoojary/property-listing-api.git"
## which originally taken from "https://www.zoocasa.com/"

In [182]:
import pandas as pd 
import numpy as np

In [183]:
df = pd.read_csv("https://raw.githubusercontent.com/slavaspirin/Toronto-housing-price-prediction/master/houses.csv")

In [184]:
df.columns

Index(['index', 'title', 'final_price', 'list_price', 'bedrooms', 'bathrooms',
       'sqft', 'parking', 'description', 'mls', 'type', 'full_link',
       'full_address', 'lat', 'long', 'city_district', 'mean_district_income',
       'district_code'],
      dtype='object')

In [185]:
df.head()

,index,title,final_price,list_price,bedrooms,bathrooms,sqft,parking,description,mls,type,full_link,full_address,lat,long,city_district,mean_district_income,district_code
0,0,"1303 - 38 Grenville St, Toronto (C4461599) | Z...",855000,870000,2 + 1 beds,2 baths,800–899 sq. ft.,1 parking,"Luxurious And Spacious Murano Tower. 2+1, 2 Ba...",C4461599,Condo Apt,https://www.zoocasa.com/toronto-on-real-estate...,"38 Grenville St, Toronto , Ontario, Canada",43.661896,-79.385748,Bay Street Corridor,56526,76
1,1,"2 Cabot Crt, Toronto (W4502992) | Zoocasa",885000,898000,3 beds,2 baths,N/A sq. ft.,6 parking,Fantastic Opportunity To Live Within The Histo...,W4502992,Semi-Detached,https://www.zoocasa.com/toronto-on-real-estate...,"2 Cabot Crt, Toronto , Ontario, Canada",43.646982,-79.530356,Islington-City Centre West,52787,14
2,2,"1504 - 30 Roehampton Ave, Toronto (C4511330) |...",550000,549900,1 beds,1 baths,500–599 sq. ft.,no parking,Bright Sunfilled Spacious 1 Bdr Unit; Floor To...,C4511330,Condo Apt,https://www.zoocasa.com/toronto-on-real-estate...,"30 Roehampton Ave, Toronto , Ontario, Canada",43.708472,-79.397498,Mount Pleasant West,57039,104
3,3,"514 - 65 East Liberty St, Toronto (C4515763) |...",665000,600000,1 + 1 beds,1 baths,600–699 sq. ft.,1 parking,Rare Loft-Like Condo In Liberty Village W/ 18'...,C4515763,Condo Apt,https://www.zoocasa.com/toronto-on-real-estate...,"65 East Liberty St, Toronto , Ontario, Canada",43.638399,-79.414448,Niagara,70623,82
4,4,"61 Twelfth St, Toronto (W4519375) | Zoocasa",825513,839000,2 beds,2 baths,N/A sq. ft.,1 parking,Location! Location! Location. Your Cottage In ...,W4519375,Detached,https://www.zoocasa.com/toronto-on-real-estate...,"61 Twelfth St, Toronto , Ontario, Canada",43.597096,-79.509612,New Toronto,44101,18

In [186]:
 df.isna().sum() ## count the null the values in the dataset

index                    0
title                    0
final_price              0
list_price               0
bedrooms                 0
bathrooms                0
sqft                     0
parking                  0
description             49
mls                      0
type                     0
full_link                0
full_address             0
lat                      0
long                     0
city_district            0
mean_district_income     0
district_code            0
dtype: int64

In [187]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15236 entries, 0 to 15235
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   index                 15236 non-null  int64
 1   title                 15236 non-null  object
 2   final_price           15236 non-null  int64
 3   list_price            15236 non-null  int64
 4   bedrooms              15236 non-null  object
 5   bathrooms             15236 non-null  object
 6   sqft                  15236 non-null  object
 7   parking               15236 non-null  object
 8   description           15187 non-null  object
 9   mls                   15236 non-null  object
 10  type                  15236 non-null  object
 11  full_link             15236 non-null  object
 12  full_address          15236 non-null  object
 13  lat                   15236 non-null  float64
 14  long                  15236 non-null  float64
 15  city_district         15236 non-null  object
 16  mean_district_income  15236 non-null  int64
 17  district_code         15236 non-null  int64
dtypes: float64(2), int64(5), object(11)
memory usage: 2.1+ MB

In [188]:
df.shape ##(rows,cols)

(15236, 18)

In [189]:
df.describe()

,index,final_price,list_price,lat,long,mean_district_income,district_code
count,15236.000000,1.523600e+04,1.523600e+04,15236.000000,15236.000000,15236.000000,15236.000000
mean,9519.656537,8.827034e+05,8.750877e+05,43.702662,-79.394661,56063.029995,71.301720
std,4882.709492,6.189028e+05,6.357729e+05,0.056804,0.095439,32546.384030,38.676601
min,0.000000,1.030000e+05,1.049000e+05,43.588176,-79.621693,25989.000000,1.000000
25%,5676.500000,5.350000e+05,5.290000e+05,43.652058,-79.454611,34904.000000,39.000000
50%,9803.500000,7.150000e+05,6.999000e+05,43.690978,-79.395589,50580.000000,76.000000
75%,13668.250000,9.892475e+05,9.699000e+05,43.755911,-79.335239,67757.000000,101.000000
max,17543.000000,1.318000e+07,1.318000e+07,43.839372,-79.124094,308010.000000,140.000000

In [190]:
df.nunique() ## Count distinct observations; By default, it exclude the NaN values

index                   15236
title                   15236
final_price              2961
list_price               2268
bedrooms                   48
bathrooms                  12
sqft                       30
parking                    27
description             15152
mls                     15236
type                       18
full_link               15236
full_address             8832
lat                      8484
long                     8192
city_district             140
mean_district_income      140
district_code             140
dtype: int64

In [191]:
df.describe()[["final_price", "list_price"]].round(decimals=2)

       final_price   list_price
count     15236.00     15236.00
mean     882703.42    875087.68
std      618902.84    635772.90
min      103000.00    104900.00
25%      535000.00    529000.00
50%      715000.00    699900.00
75%      989247.50    969900.00
max    13180000.00  13180000.00

## difference between the listing price and the final price

In [192]:
df["price_diff"] = df["list_price"] - df["final_price"]

In [193]:
df.sort_values(
...     by="price_diff",
...     ascending=False
... ).agg(["min", "max", "mean"]).round(decimals=2)[["price_diff"]]

      price_diff
min  -1000000.00
max   2200000.00
mean    -7615.75

In [194]:
for t in df['type'].unique():
    print(t)

Condo Apt
Semi-Detached
Detached
Condo Townhouse
Duplex
d>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bugsnag -->
    <script src="//d2wy8f7a9ursnm.cloudfront.net/bugsnag-3.min.js"></script>

    <!-- Map Provider -->
    <!-- <script src="https://maps.googleapis.com/maps/api/js?v=3.37&libraries=places,geometry,drawing&key=AIzaSyCi-MMq6yT9NmAGvurgReyS5w98wLme7rs"></script> -->
    <script src="https://cdn.apple-mapkit.com/mk/5.x.x/mapkit.js"></script>

    <!-- Schema.org -->
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebSite",
      "name": "Zoocasa",
      "description": "Zoocasa.com - the smarter, faster way to home search. We marry the ease and intelligence of technology with a full service real estate team, to create a seamless experience.",
      "alternateName": "Zoocasa.com",
      "url": "https://www.zoocasa.com"
    }
    </script>

    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "name": "Zoocasa Realty Inc.",
      "url": "https://www.zoocasa.com",
      "sameAs": [
        "https://twitter.com/zoocasa",
        "https://www.facebook.com/Zoocasa",
        "https://www.linkedin.com/company/zoocasa-com",
        "https://www.youtube.com/c/zoocasa",
        "https://plus.google.com/+Zoocasa"
      ]
    }
    </script>


<meta name="zoocasa-ember/config/environment" content="%7B%22podModulePrefix%22%3A%22zoocasa-ember%2Fpods%22%2C%22modulePrefix%22%3A%22zoocasa-ember%22%2C%22environment%22%3A%22production%22%2C%22rootURL%22%3A%22%2F%22%2C%22locationType%22%3A%22auto%22%2C%22EmberENV%22%3A%7B%22FEATURES%22%3A%7B%7D%2C%22EXTEND_PROTOTYPES%22%3A%7B%22Date%22%3Afalse%7D%2C%22_JQUERY_INTEGRATION%22%3Atrue%7D%2C%22APP%22%3A%7B%22host%22%3A%22https%3A%2F%2Fwww.zoocasa.com%22%2C%22advertizing%22%3A%7B%22enabled%22%3Atrue%2C%22accountId%22%3A%2257452754%22%2C%22slotPrefix%22%3A%22ZC%22%7D%2C%22analytics%22%3A%7B%22enabled%22%3Atrue%2C%22segmentAPIKey%22%3A%226tPcbmK8bGXOA97VPL3wAN11yuOu1pvI%22%7D%2C%22features%22%3A%7B%22soldData%22%3Atrue%2C%22travelTime%22%3Afalse%2C%22marketTrends%22%3Afalse%2C%22playground%22%3Afalse%2C%22drawOnMap%22%3Afalse%2C%22schoolsListPage%22%3Afalse%7D%2C%22map%22%3A%7B%22provider%22%3A%22apple%22%2C%22googleAPIKey%22%3A%22AIzaSyCi-MMq6yT9NmAGvurgReyS5w98wLme7rs%22%2C%22appleMapkitJWT%22%3A%22eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IlZNWjhVTTI2VDcifQ.eyJpYXQiOjE1NTg5Njk0MDcsImlzcyI6IjQyQUhCNUEzNjgifQ.lYRvOAbGZPCWYJ1qw33Da-qVP4MMjmzeKre9Qby7KIQ7Gap1eQj_c6lfawYMXbryJskpPN8ZKz83VypeY7e3uw%22%7D%2C%22name%22%3A%22zoocasa-ember%22%2C%22version%22%3A%223.4.0%2B3f391746%22%7D%2C%22fastboot%22%3A%7B%22hostWhitelist%22%3A%5B%7B%7D%2C%7B%7D%2C%7B%7D%5D%7D%2C%22ember-cli-mirage%22%3A%7B%22usingProxy%22%3Afalse%2C%22useDefaultPassthroughs%22%3Atrue%7D%2C%22ember-component-css%22%3A%7B%22terseClassNames%22%3Atrue%7D%2C%22exportApplicationGlobal%22%3Afalse%2C%22isModuleUnification%22%3Afalse%7D" />
<!-- EMBER_CLI_FASTBOOT_TITLE -->  <meta name="ember-cli-head-start" content><title>Real Estate Listings Canada - Search MLS for houses, condos, property | Zoocasa</title>

<meta name="description" content="Find real estate listings for sale in Canada. Search MLS real estate listings for homes, condos and properties on Zoocasa.com, Canada's top real estate website.">

<meta property="zoocasa:version" content="3.4.0+3f391746">

<!---->
<!---->
<!---->
<!---->

<meta property="og:site_name" content="Zoocasa.com">
<meta property="og:image" content="https://ember.zoocasa.com/assets/images/home/hero-0953b72f06285a5360e195ef8eba2113.jpg">
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.zoocasa.com">
<!---->
<!---->

<meta name="apple-itunes-app" content="app-id=301743811">
<meta name="ember-cli-head-end" content>


    <link rel="stylesheet" href="https://use.typekit.net/gdq6phm.css"> <!-- Adobe Typekit fonts -->
    <link integrity="" rel="stylesheet" href="https://ember.zoocasa.com/assets/vendor-792e845ea231cb86fffed7f6eeb9579a.css">
    <link integrity="" rel="stylesheet" href="https://ember.zoocasa.com/assets/zoocasa-ember-1a4b0dcfe481b3c9584255d3477975b6.css">
    <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml">
    <link rel="shortcut icon" href="https://ember.zoocasa.com/favicon-c5aef56fe9c3e55a0cd81569b014a17a.ico">

    <!-- RSS Feed -->
    <link rel="hub" href="https://pubsubhubbub.appspot.com/">
    <link rel="self" href="https://www.zoocasa.com/new-listings.rss" type="application/rss+xml">


  </head>
  <body>
    <loading-page class="theme-application">

    <script type="x/boundary" id="fastboot-body-start"></script><div class="ember-view" id="ember316849810"><!---->
<loading-bar id="ember316849812" class="__c3cc9 ember-view"></loading-bar>

<div class="application dynamic dynamic-listing __8a68f">
    <application-header-section id="ember316849813" class="__23713 i-invisible no-select ember-view"><!----><top-nav id="ember316849814" class="__4c11d i-invisible ember-view">  <div class="overlay"></div>
  <section class="panel">
    <div class="links">
        <collapsable-section id="ember316849816" class="__2d007 theme-short ember-view"><h3 class="label no-select">
  buy
  <span class="icon-nib">
Att/Row/Twnhouse
Comm Element Condo
Link
Co-Ownership Apt
Co-Op Apt
Multiplex
Triplex
Det Condo
Store W/Apt/Offc
Fourplex
Leasehold Condo
Cottage

In [195]:
houseTypes = df['type'].unique()
len(type_of_house) # count of unique house types in the data

18

In [196]:
abnType = houseTypes[5]
abnType

'd>\n    <meta charset="utf-8">\n    <meta http-equiv="X-UA-Compatible" content="IE=edge">\n    <meta name="viewport" content="width=device-width, initial-scale=1">\n\n    <!-- Bugsnag -->\n    <script src="//d2wy8f7a9ursnm.cloudfront.net/bugsnag-3.min.js"></script>\n\n    <!-- Map Provider -->\n    <!-- <script src="https://maps.googleapis.com/maps/api/js?v=3.37&libraries=places,geometry,drawing&key=AIzaSyCi-MMq6yT9NmAGvurgReyS5w98wLme7rs"></script> -->\n    <script src="https://cdn.apple-mapkit.com/mk/5.x.x/mapkit.js"></script>\n\n    <!-- Schema.org -->\n    <script type="application/ld+json">\n    {\n      "@context": "https://schema.org",\n      "@type": "WebSite",\n      "name": "Zoocasa",\n      "description": "Zoocasa.com - the smarter, faster way to home search. We marry the ease and intelligence of technology with a full service real estate team, to create a seamless experience.",\n      "alternateName": "Zoocasa.com",\n      "url": "https://www.zoocasa.com"\n    }\n    </script>\n\n    <script type="application/ld+json">\n    {\n      "@context": "https://schema.org",\n      "@type": "Organization",\n      "name": "Zoocasa Realty Inc.",\n      "url": "https://www.zoocasa.com",\n      "sameAs": [\n        "https://twitter.com/zoocasa",\n        "https://www.facebook.com/Zoocasa",\n        "https://www.linkedin.com/company/zoocasa-com",\n        "https://www.youtube.com/c/zoocasa",\n        "https://plus.google.com/+Zoocasa"\n      ]\n    }\n    </script>\n\n    \n<meta name="zoocasa-ember/config/environment" content="%7B%22podModulePrefix%22%3A%22zoocasa-ember%2Fpods%22%2C%22modulePrefix%22%3A%22zoocasa-ember%22%2C%22environment%22%3A%22production%22%2C%22rootURL%22%3A%22%2F%22%2C%22locationType%22%3A%22auto%22%2C%22EmberENV%22%3A%7B%22FEATURES%22%3A%7B%7D%2C%22EXTEND_PROTOTYPES%22%3A%7B%22Date%22%3Afalse%7D%2C%22_JQUERY_INTEGRATION%22%3Atrue%7D%2C%22APP%22%3A%7B%22host%22%3A%22https%3A%2F%2Fwww.zoocasa.com%22%2C%22advertizing%22%3A%7B%22enabled%22%3Atrue%2C%22accountId%22%3A%2257452754%22%2C%22slotPrefix%22%3A%22ZC%22%7D%2C%22analytics%22%3A%7B%22enabled%22%3Atrue%2C%22segmentAPIKey%22%3A%226tPcbmK8bGXOA97VPL3wAN11yuOu1pvI%22%7D%2C%22features%22%3A%7B%22soldData%22%3Atrue%2C%22travelTime%22%3Afalse%2C%22marketTrends%22%3Afalse%2C%22playground%22%3Afalse%2C%22drawOnMap%22%3Afalse%2C%22schoolsListPage%22%3Afalse%7D%2C%22map%22%3A%7B%22provider%22%3A%22apple%22%2C%22googleAPIKey%22%3A%22AIzaSyCi-MMq6yT9NmAGvurgReyS5w98wLme7rs%22%2C%22appleMapkitJWT%22%3A%22eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IlZNWjhVTTI2VDcifQ.eyJpYXQiOjE1NTg5Njk0MDcsImlzcyI6IjQyQUhCNUEzNjgifQ.lYRvOAbGZPCWYJ1qw33Da-qVP4MMjmzeKre9Qby7KIQ7Gap1eQj_c6lfawYMXbryJskpPN8ZKz83VypeY7e3uw%22%7D%2C%22name%22%3A%22zoocasa-ember%22%2C%22version%22%3A%223.4.0%2B3f391746%22%7D%2C%22fastboot%22%3A%7B%22hostWhitelist%22%3A%5B%7B%7D%2C%7B%7D%2C%7B%7D%5D%7D%2C%22ember-cli-mirage%22%3A%7B%22usingProxy%22%3Afalse%2C%22useDefaultPassthroughs%22%3Atrue%7D%2C%22ember-component-css%22%3A%7B%22terseClassNames%22%3Atrue%7D%2C%22exportApplicationGlobal%22%3Afalse%2C%22isModuleUnification%22%3Afalse%7D" />\n<!-- EMBER_CLI_FASTBOOT_TITLE -->  <meta name="ember-cli-head-start" content><title>Real Estate Listings Canada - Search MLS for houses, condos, property | Zoocasa</title>\n\n<meta name="description" content="Find real estate listings for sale in Canada. Search MLS real estate listings for homes, condos and properties on Zoocasa.com, Canada\'s top real estate website.">\n\n<meta property="zoocasa:version" content="3.4.0+3f391746">\n\n<!---->\n<!---->\n<!---->\n<!---->\n\n<meta property="og:site_name" content="Zoocasa.com">\n<meta property="og:image" content="https://ember.zoocasa.com/assets/images/home/hero-0953b72f06285a5360e195ef8eba2113.jpg">\n<meta property="og:type" content="website">\n<meta property="og:url" content="https://www.zoocasa.com">\n<!---->\n<!---->\n\n<meta name="apple-itunes-app" content="app-id=301743811">\n<meta name="ember-cli-head-end" content>\n\n\n    <link rel="stylesheet" href="https://use.typekit.net/gdq6phm.css"> <!-- Adobe Typekit fonts -->\n    <link integrity="" rel="stylesheet" href="https://ember.zoocasa.com/assets/vendor-792e845ea231cb86fffed7f6eeb9579a.css">\n    <link integrity="" rel="stylesheet" href="https://ember.zoocasa.com/assets/zoocasa-ember-1a4b0dcfe481b3c9584255d3477975b6.css">\n    <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml">\n    <link rel="shortcut icon" href="https://ember.zoocasa.com/favicon-c5aef56fe9c3e55a0cd81569b014a17a.ico">\n\n    <!-- RSS Feed -->\n    <link rel="hub" href="https://pubsubhubbub.appspot.com/">\n    <link rel="self" href="https://www.zoocasa.com/new-listings.rss" type="application/rss+xml">\n\n    \n  </head>\n  <body>\n    <loading-page class="theme-application">\n\n    <script type="x/boundary" id="fastboot-body-start"></script><div class="ember-view" id="ember316849810"><!---->\n<loading-bar id="ember316849812" class="__c3cc9 ember-view"></loading-bar>\n\n<div class="application dynamic dynamic-listing __8a68f">\n    <application-header-section id="ember316849813" class="__23713 i-invisible no-select ember-view"><!----><top-nav id="ember316849814" class="__4c11d i-invisible ember-view">  <div class="overlay"></div>\n  <section class="panel">\n    <div class="links">\n        <collapsable-section id="ember316849816" class="__2d007 theme-short ember-view"><h3 class="label no-select">\n  buy\n  <span class="icon-nib">'

In [197]:
## number of records holding the abnormal type

df[df['type'] == abnType].shape

(1, 19)

In [198]:
df[df['type']== abnType]

,index,title,final_price,list_price,bedrooms,bathrooms,sqft,parking,description,mls,type,full_link,full_address,lat,long,city_district,mean_district_income,district_code,price_diff
14,14,Real Estate Listings Canada - Search MLS for h...,510000,569000,2 + 3 beds,2 baths,N/A sq. ft.,3 parking,Exceptional Opportunity For Investors Or Build...,"\n <meta charset=""utf-8"">\n <meta http-e...","d>\n <meta charset=""utf-8"">\n <meta http...",https://www.zoocasa.com/toronto-on-real-estate...,"123 Galloway Rd, Toronto , Ontario, Canada",43.759766,-79.193483,West Hill,33323,136,59000

In [199]:
## types of hosues without the abnormal one

df[df['type'] != abnType]["type"].unique()

array(['Condo Apt', 'Semi-Detached', 'Detached', 'Condo Townhouse',
       'Duplex', 'Att/Row/Twnhouse', 'Comm Element Condo', 'Link',
       'Co-Ownership Apt', 'Co-Op Apt', 'Multiplex', 'Triplex',
       'Det Condo', 'Store W/Apt/Offc', 'Fourplex', 'Leasehold Condo',
       'Cottage'], dtype=object)